Package: com.yourname.originmotionlock
Name: OriginMotionLock
Depends: mobilesubstrate, firmware (>= 14.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Tweak hieu ung nghieng may.
Maintainer: YourName
Author: YourName
Section: Tweaks
