Package: com.yourname.originmotionlock
Name: OriginMotionLock
Author: duchaivcyv <your-email@gmail.com>
Description: Hiệu ứng nghiêng máy dịch chuyển ảnh nền 3D cho màn hình khóa iOS.
Architecture: arm64
Version: 1.0.0
Maintainer: duchaivcyv <your-email@gmail.com>
Depends: mobilesubstrate, firmware (>= 14.0), preferenceloader
Section: Tweaks
