{
    Filter = {
        Classes = ( );
        Bundles = ( 
            "com.apple.Preferences",
            "com.fpt.tpb.emobile",
            "vn.com.vng.zalopay",
            "com.mbmobile",
            "vn.com.techcombank.bb.app",
            "com.dts.freefireth",
            "com.garena.game.fcmobilevn"
        );
    };
}
