<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>bundle</key>
		<string>MBBypassPrefs</string>
		<key>cell</key>
		<string>PSLinkCell</string> <!-- Bắt buộc phải là PSLinkCell để mở trang con -->
		<key>detail</key>
		<string>MBBypassRootListController</string> <!-- Khớp với tên class trong code .m của cậu -->
		<key>icon</key>
		<string>icon.png</string>
		<key>label</key>
		<string>MBBypass</string>
	</dict>
</dict>
</plist>
