<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Trung tâm Điều khiển MBBypass</string>
            <key>footerText</key>
            <string>Quản lý bật/tắt tính năng ẩn jailbreak cho từng ứng dụng và trò chơi.</string>
        </dict>
        
        <!-- Công tắc tổng -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.onyx.mbbypass</string>
            <key>key</key>
            <string>isEnabled</string>
            <key>label</key>
            <string>Kích hoạt Bypass Tổng</string>
        </dict>

        <!-- Nút chuyển hướng vào danh sách chi tiết 6 app -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Danh sách Mục tiêu</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>detail</key>
            <string>MBBypassRootListController</string>
            <key>isController</key>
            <true/>
            <key>label</key>
            <string>Tùy chỉnh Ứng dụng & Game</string>
        </dict>
    </array>
    <key>title</key>
    <string>MBBypass</string>
</dict>
</plist>
