<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Nhóm cấu hình chung -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cài đặt chung hệ thống</string>
			<key>footerText</key>
			<string>Bật công tắc này để kích hoạt toàn bộ cơ chế ẩn Jailbreak của tweak trên hệ thống.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.onyx.mbbypass</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Bật/Tắt Toàn Hệ Thống</string>
			<key>PostNotification</key>
			<string>com.onyx.mbbypass/reloadPrefs</string>
		</dict>

		<!-- Nhóm thông tin hướng dẫn -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hướng dẫn sử dụng</string>
			<key>footerText</key>
			<string>Bên dưới là danh sách các ứng dụng được quét tự động trong máy. Mặc định tất cả đều ở trạng thái TẮT. Chỉ khi nào cậu gạt bật ứng dụng nào, tweak mới tiến hành ẩn Jailbreak trên ứng dụng đó.</string>
		</dict>
	</array>
	<key>title</key>
	<string>MBBypass - Ẩn Jailbreak</string>
</dict>
</plist>
