<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <!-- Nhóm Cài đặt chung -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Cấu hình chung MBBypass</string>
        </dict>
        
        <!-- Công tắc Tổng: Liên kết với key 'isEnabled' trong tệp com.onyx.mbbypass.plist -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.onyx.mbbypass</string> <!-- Trỏ đúng tên domain gốc -->
            <key>key</key>
            <string>isEnabled</string>
            <key>label</key>
            <string>Kích hoạt Tweak</string>
            <key>postNotification</key>
            <string>com.onyx.mbbypass/reloadPreferences</string>
        </dict>

        <!-- Nhóm ứng dụng -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Bỏ qua Jailbreak cho ứng dụng</string>
        </dict>

        <!-- Công tắc App: Liên kết với key 'enabled_com.mbmobile' trong tệp gốc -->
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.onyx.mbbypass</string> <!-- Trỏ đúng tên domain gốc -->
            <key>key</key>
            <string>enabled_com.mbmobile</string>
            <key>label</key>
            <string>MB Bank</string>
            <key>postNotification</key>
            <string>com.onyx.mbbypass/reloadPreferences</string>
        </dict>
    </array>
    <key>title</key>
    <string>MBBypass</string>
</dict>
</plist>
